h1 {
    color: chocolate;
    background-color: antiquewhite;
}
p {
    background-color: cornflowerblue;
}

#dodaj {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    font-size: 20px;
  }
  #usuń {
    background-color: crimson;
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    font-size: 20px;
  }